/* Fonts */
@font-face {
  font-family: 'opensanshebrew-regular';
  src: url("../fonts/OpenSansHebrew-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'opensanshebrew-bold';
  src: url("../fonts/OpenSansHebrew-Bold.ttf") format("truetype"); }

/* /Fonts */
/* Global */
html {
  margin: 0 !important; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'opensanshebrew-regular';
  font-weight: 400;
  font-size: 18px; }

input {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

*, *::before, *::after {
  box-sizing: border-box;
  direction: rtl; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.wrapper-login {
  background: #4D4E4E url("../img/login-bg.png") no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  font-family: 'opensanshebrew-regular';
  font-weight: 400; }
  .wrapper-login .inner {
    display: flex;
    width: 1160px; }
  .wrapper-login .part-default {
    width: 40%;
    border-left: 10px solid #ffc20f;
    background: #fff;
    padding: 30px; }
    .wrapper-login .part-default h1 {
      display: none; }
    .wrapper-login .part-default form .input, .wrapper-login .part-default input[type=password], .wrapper-login .part-default input[type=text] {
      border-radius: 200px; }
    .wrapper-login .part-default .wp-pwd {
      margin-top: 0; }
    .wrapper-login .part-default #login {
      width: 100%; }
    .wrapper-login .part-default label, .wrapper-login .part-default .message {
      font-family: 'opensanshebrew-regular';
      font-weight: 400;
      font-size: 16px;
      color: #2c2929; }
    .wrapper-login .part-default #nav, .wrapper-login .part-default #backtoblog {
      font-family: 'opensanshebrew-regular';
      font-weight: 400;
      font-size: 16px;
      color: #2c2929; }
    .wrapper-login .part-default .button-primary {
      font-family: 'opensanshebrew-bold';
      font-weight: 700;
      font-size: 18px;
      color: #2c2929;
      background: #ffc20f;
      border-radius: 200px;
      border: none;
      padding: 0px 45px;
      transition: 0.5s; }
      .wrapper-login .part-default .button-primary:hover {
        background: #a5a7aa; }
    .wrapper-login .part-default #loginform {
      border: none; }
  .wrapper-login .part-custom {
    width: 60%;
    background: rgba(50, 50, 52, 0.53);
    position: relative;
    overflow: hidden;
    padding: 30px;
    padding-left: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper-login .part-custom:after {
      content: "";
      position: absolute;
      display: block;
      top: -50px;
      bottom: -100px;
      left: -100px;
      width: 200px;
      background: #fff;
      transform: rotate(-18deg); }
    .wrapper-login .part-custom .logo, .wrapper-login .part-custom .by-extra {
      text-align: left;
      display: block; }
      .wrapper-login .part-custom .logo img, .wrapper-login .part-custom .by-extra img {
        max-width: 100%; }
    .wrapper-login .part-custom .by-extra {
      margin-top: 25px; }
    .wrapper-login .part-custom .content {
      margin-top: 25px;
      font-family: 'opensanshebrew-regular';
      font-weight: 400;
      font-size: 15px;
      color: #fff;
      text-align: center; }
      .wrapper-login .part-custom .content p {
        margin-top: 20px; }
  @media only screen and (max-width: 950px) {
    .wrapper-login .inner {
      flex-wrap: wrap;
      width: 100%; }
    .wrapper-login .part-default {
      width: 100%;
      padding: 10px; }
    .wrapper-login .part-custom {
      width: 100%;
      padding: 20px;
      text-align: center; }
      .wrapper-login .part-custom:after {
        content: none; }
      .wrapper-login .part-custom .logo img {
        height: 75px; }
      .wrapper-login .part-custom .by-extra img {
        height: 20px; }
      .wrapper-login .part-custom .content {
        margin-top: 10px;
        font-size: 13px; } }
